.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53f2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    padding-left: 0;
    list-style-type: none;
    text-decoration: none;
    margin-top: 8px
    ;
}

.header__navbar-item{
    display: inline-block;
    position: relative;
    margin:  0 8px;
}

.header__navbar-list i{
    font-size: 18px;
    color: var(--white-color);
    margin: 0 3px;
}

.header__navbar-list i:hover{
    opacity: 80%;
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}



.header__navbar-item:hover,
.header__navbar-item-link:hover
{
    color: rgba(255,255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 500;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

/* Header QR Code */

.header__navbar-item-qr:hover .header__QR{
    display: block;

}
.header__QR{
    background-color: var(--white-color);
    width: 85%;
    position: absolute;
    left: 0;
    top: 130%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__QR::before{
    content: "";
    left: 0;
    top: -10px;
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
}

.header__qr-img{
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-dowload-img{
    height: 18px;
}

.ggplay-icon{
    margin-left: 12px;
}
.appstore-icon{
    margin-right: 8px;
}

/* Animations */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
